.bg-01{
    background-image:url('/img/bg-01.png');
}

.bg-02{
    background-image:url('/img/bg-02.png');
}

.letter{
    text-align:center;
}

.mario-nav-posts-create{
    display:block;
    width:150px;
    background:#FAD528;
    border:1px solid #000;
    padding:10px;
    border-radius:5px;
    text-align:center;
    margin:0 auto;
    margin-bottom:30px;
}

.gamebox{
    .mariogame{
        background:#fff;
        width:100%;
        display:block;
        padding:5px;
        margin-bottom:30px;
        border-radius:10px;
        
        .game-name{
            text-align:center;
        }
    }
}

.mario-nav-gameList{
    display:block;
    width:150px;
    background:#FAD528;
    margin-bottom:30px;
    padding:10px;
    border-radius:5px;
    border:1px solid #000;
    text-align:center;
    margin:0 auto;
}