.mainimg{
}

.bg-01{
    background-image:url('/img/bg-01.png');
    padding-bottom:30px;
    .mario-nav{
    }
}

.bg-02{
    background-image:url('/img/bg-02.png');
    padding-bottom:30px;
    margin-bottom:30px;
}

.letter{
    text-align:center;
    padding:25px;
}

.mario-nav{
    margin-top:20px;
}
.mario-nav-posts-create{
    display:block;
    width:150px;
    background:#FAD528;
    border:1px solid #000;
    padding:10px;
    border-radius:5px;
    text-align:center;
    margin:0 auto;
}

.gamebox{
    margin-bottom:30px;
    .mariogame{
        background:#fff;
        width:34%;
        display:block;
        div{
            overflow:hidden;//はみ出した部分を隠す
            position:relative;//位置指定の基準
            padding-top:87%;
            img{
                position:absolute;
                top:0;
                left:0;
                &:hover{
                    opacity:0.8;
                }
            }
        }
    }
}

.mario-nav-gameList{
    display:block;
    width:150px;
    background:#FAD528;
    padding:10px;
    border-radius:5px;
    border:1px solid #000;
    text-align:center;
    margin:0 auto;
}